# Created on September 21. 2020 by Tobias Wulf. Copyright Tobias Wulf 2020.
# Edited on September 23. 2020 by Tobias Wulf: Add additional file types.
# Edited on September 25. 2020 by Tobias Wulf: Add helpsearch binaries.

# Registry binary files to Git to prevent it for corrupting and changing the
# files unwillingly. For more information visit
# https://git-scm.com/docs/gitattributes or have a look at the matlab helpsite
# "Setup Git Source Control" section "Registry Binary Files with Git"
# Common Matlab which are needed to registrate:
*.mlx -crlf -diff -merge
*.mat -crlf -diff -merge
*.fig -crlf -diff -merge
*.mdl -crlf -diff -merge
*.slx -crlf -diff -merge
*.mlapp -crlf -diff -merge
*.p -crlf -diff -merge
*.mdlp -crlf -diff -merge
*.slxp -crlf -diff -merge
*.sldd -crlf -diff -merge
*.slxc -crlf -diff -merge
*.mlproj -crlf -diff -merge
*.mldatx -crlf -diff -merge
*.slreqx -crlf -diff -merge
*.sfx -crlf -diff -merge
*.sltx -crlf -diff -merge

# Mex-Compiler which are needed to registrate:
*.mexa64 -crlf -diff -merge
*.mexw64 -crlf -diff -merge
*.mexmaci64 -crlf -diff -merge

# Registrate Matlab help browser database generates which are build by
# Matlabs built-in function builddocsearchdb the files are located in the
# html documentation folder under a certain subfolder
# docs/html/helpsearch-v3
*.cfe -crlf -diff -merge
*.cfs -crlf -diff -merge
*.si -crlf -diff -merge
*.gen -crlf -diff -merge
*.cfe -crlf -diff -merge
segments_1 -crlf -diff -merge

# Additional files which are rather text files nor furhter not git readable
# files like pictures or encrypted xml formats or compiled file formats
*.xlsx -crlf -diff -merge
*.docx -crlf -diff -merge
*.pdf -crlf -diff -merge
*.jpg -crlf -diff -merge
*.png -crlf -diff -merge
*.svg -crlf -diff -merge
*.eps -crlf -diff -merge

# Additional video files created by Matlab,  render plot frames to videos
*.avi -crlf -diff -merge
*.mp4 -crlf -diff -merge
*.mj2 -crlf -diff -merge
